@font-face
{
    font-family:'Raphaelicons';
    src:url(../font/raphaelicons-webfont.svg) format('svg'),url(../font/raphaelicons-webfont.woff) format('woff');
    font-weight:normal;
}

*
{
    margin:0px;
    padding:0px;
    border:0px;
}
a
{
    text-decoration:none;
     color:white;
}



html,body, .container
{
    width:100%;
    height:100%;
    
    
}
body
{position:relative;
    overflow:hidden;
}
.container a, .container input
{
    position:fixed;
    bottom:0%;
    width:20%;
    height:35px;
}

    .container input#nav-ctrl-1,.container a#nav-page-1
    {
        left:0%;
    }
     .container input#nav-ctrl-2,.container a#nav-page-2
    {
        left:20%;
    }
      .container input#nav-ctrl-3,.container a#nav-page-3
    {
        left:40%;
    }
       .container input#nav-ctrl-4,.container a#nav-page-4
    {
        left:60%;
    }
        .container input#nav-ctrl-5,.container a#nav-page-5
    {
        left:80%;
    }
    .container input
    {
        z-index: 9999;
        -moz-opacity: 0;
        opacity: 0;
        cursor:pointer;
    }
    .container a
    {
        z-index:999;
        text-align:center;
        background:#fa0;
        font-size:20px;
        font-weight:500;
        vertical-align:central;
        line-height:35px;
       
    }

    .container input:checked + a,.container input:checked:hover + a
    {
        background:#F70;
    }
    .container input:checked + a:after
    {
        content:"";
        width:0;
        height:0;
        border:20px solid transparent;
        bottom:100%;
        border-bottom-color:#F70;
        position:absolute;
        overflow:hidden;
        left:50%;
        margin-left:-20px;
    }
    .container input:hover + a
    {
        background:#f90;
    }


.st-scroll,.st-panel
{
   width:100%;
   height:100%;
  position:relative;
 
   -webkit-backface-visibility:hidden;
     -webkit-transition:all 1s ease-in-out;
}
.st-panel
{
     overflow:hidden;
}

.st-scroll
{
    
    -webkit-transform:translate3d(0,0%,0);
    left:0px;
    top:0px;
    
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
     -webkit-transition:all 1s ease-in-out;
}

.container #nav-ctrl-1:checked ~ .st-scroll
{
    -webkit-transform:translate3d(0,0%,0);
    transform:translate3d(0,0%,0);
}
.container #nav-ctrl-2:checked ~ .st-scroll
{
    -webkit-transform:translate3d(0,-100%,0);
     transform:translate3d(0,-100%,0);
}
.container #nav-ctrl-3:checked ~ .st-scroll
{
    -webkit-transform:translate3d(0,-200%,0);
     transform:translate3d(0,-200%,0);
}
.container #nav-ctrl-4:checked ~ .st-scroll
{
    -webkit-transform:translate3d(0,-300%,0);
     transform:translate3d(0,-300%,0);
}
.container #nav-ctrl-5:checked ~ .st-scroll
{
    -webkit-transform:translate3d(0,-400%,0);
     transform:translate3d(0,-400%,0);
}


.st-panel .st-icon
{
    background-color:pink;
    width:300px;
    height:300px;
    -webkit-transform:rotateZ(45deg);
    position:absolute;
    left:50%;
    margin-left:-150px;
    top:-150px;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    
}

.st-panel h2
{
    color: #e23a61;
    font-size: 54px;
    font-weight: 900;
    position: absolute;
    text-align: center;
    width:80%;
    line-height: 50px;
    left: 15%;
    top: 40%;
    margin-left: -60px;
    -webkit-text-shadow:5px 3px 2px #F90;
    text-shadow:5px 3px 2px #F90;
}

.container #nav-ctrl-1:checked ~ .st-scroll #nav-panel-1 h2,
.container #nav-ctrl-2:checked ~ .st-scroll #nav-panel-2 h2,
.container #nav-ctrl-3:checked ~ .st-scroll #nav-panel-3 h2,
.container #nav-ctrl-4:checked ~ .st-scroll #nav-panel-4 h2,
.container #nav-ctrl-5:checked ~ .st-scroll #nav-panel-5 h2
{
     -webkit-animation:scrollDown 0.7s  ease-in-out 0.4s backwards;
}
@-webkit-keyframes scrollDown
{0%
    {
        -webkit-transform: translateY(-40px);
        -moz-opacity: 0;
        opacity: 0;
    }
    100%{

       -webkit-transform: translateY(0px);
        -moz-opacity: 1;
        opacity: 1;

    }
}
@keyframes scrollDown
{
    0%
    {
        transform: translateY(-40px);
        -moz-opacity: 0;
        opacity: 0;
    }
    100%{

       transform: translateY(0px);
        -moz-opacity: 1;
        opacity: 1;

    }
}

.st-panel p
{
    width:80%;
     color: #f90;
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    text-align: center;
   -webkit-text-shadow:1px 1px 1px #e23a61;
    text-shadow:1px 1px 1px #e23a61;
    line-height: 50px;
    top:50%;
    left:10%;

}
.container #nav-ctrl-1:checked ~ .st-scroll #nav-panel-1 p,
.container #nav-ctrl-2:checked ~ .st-scroll #nav-panel-2 p,
.container #nav-ctrl-3:checked ~ .st-scroll #nav-panel-3 p,
.container #nav-ctrl-4:checked ~ .st-scroll #nav-panel-4 p,
.container #nav-ctrl-5:checked ~ .st-scroll #nav-panel-5 p
{
     -webkit-animation:scrollUp 0.7s ease-in-out 0.4s backwards;
}
@-webkit-keyframes scrollUp
{0%
    {
        -webkit-transform: translateY(40px);
        -moz-opacity: 0;
        opacity: 0;
    }
    100%{

       -webkit-transform: translateY(0px);
        -moz-opacity: 1;
        opacity: 1;

    }
}
@keyframes scrollUp
{
    0%
    {
        transform: translateY(40px);
        -moz-opacity: 0;
        opacity: 0;
    }
    100%{

       transform: translateY(0px);
        -moz-opacity: 1;
        opacity: 1;

    }
}


.container #nav-ctrl-1:checked ~ .st-scroll #nav-panel-1,
.container #nav-ctrl-3:checked ~ .st-scroll #nav-panel-3,
.container #nav-ctrl-5:checked ~ .st-scroll #nav-panel-5
{
    background-color:pink;
}
.container #nav-ctrl-1:checked ~ .st-scroll #nav-panel-1 div,
.container #nav-ctrl-3:checked ~ .st-scroll #nav-panel-3 div,
.container #nav-ctrl-5:checked ~ .st-scroll #nav-panel-5 div
{
    background-color:white;
}


[data-icon]:after
{
    font-family:'Raphaelicons';
    content:attr(data-icon);
    width:200px;
    height:200px;
    /*background:#0f0;*/
    color:#f60;
    position:absolute;
    text-align:center;
    left:50%;
    top:50%;
    font-size:90px;
    line-height:200px;
    -webkit-transform:rotate(-45deg) translateY(50px);
    margin:-100px 0 0 -100px;
   text-shadow:2px 2px 2px #f90;
}

.st-even [data-icon]:after
{
color:#FFF;
}

